
[submodule "submodules/iob-ibex"]
	path = submodules/iob-ibex
	url = https://github.com/OJaimeDelas/iob-ibex.git
[submodule "iob-vexriscv"]
	path = submodules/iob-vexriscv
	url = git@github.com:IObundle/iob-vexriscv.git
