[submodule "architecture"]
	path = architecture
	url = https://github.com/OJaimeDelas/iob-soc-ibex.git
[submodule "fi"]
	path = fi
	url = https://github.com/OJaimeDelas/Fault-Injection-System-for-FPGA.git
[submodule "benchmarks/coremark/repo"]
	path = benchmarks/coremark/repo
	url = https://github.com/eembc/coremark.git
[submodule "benchmarks/embench-iot/repo"]
	path = benchmarks/embench-iot/repo
	url = https://github.com/embench/embench-iot.git
